/* Coolors Exported Palette - coolors.co/20bf55-0b4f6c-01baef-fbfbff-757575 */

/* RGB */
$green: rgba(32, 191, 85, 1);
$d-blue: rgba(11, 79, 108, 1);
$l-blue: rgba(1, 186, 239, 1);
$white: rgba(251, 251, 255, 1);
$grey: rgba(117, 117, 117, 1);